{{ define "main" }}

<h1>IT Systems Administrator - Team Lead</h1>
<p>Hardware/software management, Windows & Linux administration, networking & security, server & data management, O365 Administration, AD & GPO, script automation, VPN/firewall management, IP Camera/NVRs and a passion for Linux. <a href="about/">[more]</a></p>
    </body>

</html>

{{ with .Site.GetPage "/posts" }}
<h1>Latest posts</h1>

<div class="posts-list">
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
    <div class="post">
        <p>
        <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
        <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
        {{ .Summary }}
        </p>
    </div>
    {{ end }}
</div>
{{ end }}


{{ end }}